@import "tailwindcss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #020024;
  background: linear-gradient(
    266deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(13, 31, 138, 1) 35%,
    rgba(56, 60, 147, 1) 100%
  );
}

.leaflet-container {
  height: 400px;
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
